/*----------------------------------- Gnral styles -----------------------------------*/

@font-face {
  font-family: 'balsami'; 
  src: url('../assets/fonts/Balsami1.ttf');
}

@font-face {
  font-family: 'kaushan'; 
  src: url('../assets/fonts/kaushan1.ttf');
}

@font-face {
  font-family: 'kumbh'; 
  src: url('../assets/fonts/Kumbh1.ttf');
}

:root{
  --colorA: rgb(25,34,47);
  --colorB: rgb(55,75,98);
  --colorD: rgb(21,154,129); 
  --colorE: rgb(26,181,149);

  --colorO: rgb(245,122,0);
  --colorR: rgb(255,65,54);
  --colorG: rgb(40,182,44);
  --colorI: rgb(50,152,220);

  --title: balsami;
  --bodyA: kumbh;
  overflow: auto;
}

body{
  color: snow;
  overflow-x: clip;
}

.h-100{
  height: 100%;
}

.w-100{
  width: 100%;
}

.w-85{
  width: 85%;
}

.w-45{
  width: 45%;
}

.w-30{
  width: 30%;
}

.w-15{
  width: 15%;
}

.has-background{
  background-color: transparent;
}

.input, .textarea{
  background-color: var(--colorB);
  color: whitesmoke;
}

.button:focus, 
.button.is-focused , 
.input:active,
.input:focus, 
.textarea:active,
.textarea:focus {
  border-color: var(--colorE);
  box-shadow: 0 0 0 0.125em rgba(26,181,149,0.25);
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.d-flex{
  display: flex !important;
}

.d-none{
  display: none !important;
}

/*----------------------------------- Background common styles -----------------------------------*/

#backgroundA{
  background-color: var(--colorA);
  z-index: -100;
  position: fixed;
  top: 0;
  /*min-height: 102vh;*/
  height: 100%;
  width: 100%;
}

.figureA{
  position: fixed;
  top: -10px;
  left: -10px;
  width: 1000px;
  height: 1000px;
  background-color: var(--colorD);
  opacity: 0.7;
  clip-path: polygon(0% 0%, 100% 0%, 0% 50%);
}

.figureB{
  position: fixed;
  bottom: -10px;
  right: -10px;
  width: 650px;
  height: 300px;
  background-color: var(--colorD);
  opacity: 0.7;
  clip-path: polygon(90% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.figureC{
  z-index: -200;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figureC > p{
  top: 0px;
  left: 0px;
  position: relative;
  font-size: 8rem;
  font-family: kaushan;
  transform: rotate(-28deg);
}

.figureC > img{
  transform: rotate(-28deg);
  position: fixed;

  height: auto;
  width: 200px;
  margin-top: 0rem;
  padding-top: 23rem;
}

@media (max-width: 1200px) {
  .figureA{
    width: 650px;
    height: 300px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  }

  .figureB{
    width: 500px;
    height: 250px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  }

  .figureC > p{
    font-size: 5rem;
    top: -4rem;
  }

  .figureC > img{
    height: auto;
    width: 150px;
    padding-top: 12rem;
  }
}

@media (max-width: 500px) {
  .figureA{
    width: 650px;
    height: 300px;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
  }

  .figureB{
    width: 500px;
    height: 250px;
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
  }

  .figureC > p{
    font-size: 3.5rem;
    left: 20px;
    top: -30px;
  }

  .figureC > img{
    height: auto;
    width: 100px;
    padding-top: 10rem;
  }
}

/*----------------------------------- Footer common styles -----------------------------------*/

footer{
  background-color: #19222fdf;
  min-height: 7.5vh;
  text-align: center;
}

footer > div{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-height: 7.5vh;
  font-family: var(--title);
}

footer a{
  color: var(--colorE);
}

footer a:hover{
  color: whitesmoke;
}

@media (max-width: 500px) {
  footer > div{
    display: inline;
  }
}

/*----------------------------------- 404 styles -----------------------------------*/

#tag404{
  min-height: 92.5vh;
}

#tag404 h5{
  position: fixed;
  top: 180px;
  left: 50px;
  transform: rotate(-26deg);
  font-family: kaushan;
  font-size: 4rem;
}

#tag404 h6{
  position: fixed;
  bottom: 150px;
  right: 50px;
  transform: rotate(-26deg);
  font-family: kaushan;
  font-size: 3rem;
}

@media (max-width: 800px) {
  #tag404 h5{
    font-size: 3rem;
  }
  #tag404 h6{
    font-size: 2.5rem;
  }
}

@media (max-width: 500px) {
  #tag404 h5{
    width: 300px;
    top: 30px;
    left: 60px;
  }
  #tag404 h6{
    bottom: 90px;
    right: 20px;
  }
}


#lbl_Empty{
  height: 92.5vh;
}

#lbl_Empty > div{
  background-color: rgba(25,34,47,0.75);
  font-family: var(--title);
} 

.emoji1{
  font-size: 5rem;
}