.login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 92.5vh;
  animation-duration: 0.5s;
}

.login > div{
  width: 80%;
  height: 75%;
  display: flex;
  opacity: 0.98;
}

.login-left{
  background-color: var(--colorA);
  border: var(--colorD) solid 5px;
  width: 40%;
  height: 100%; 
  padding: 1.25rem;
  border-radius: 3rem 0rem 0rem 0rem;
}

.login-left > div{
  height: 100%;
  width: 95%;
  margin: auto;
  display: grid;
  overflow: hidden;
}

.login-image{
  background-color: var(--colorD);
  width: 150px;
  height: 150px;
  margin: 1.5rem auto auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image img{
  width: 75%;
  height: auto;
}

.login-left h5{
  font-size: 2.5rem;
}

.login-left h6{
  font-size: 3rem;
  font-family: 'kaushan';
}

.login-icons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

.login-icons a{
  border-radius: 50%;
  width: 55px;
  height: 55px;
  padding: 0;
  background-color: whitesmoke;
  border: var(--colorD) solid 0.2rem;
}

.login-icons a svg{
  width: 65%;
  height: auto;
}

.login-icons a:nth-child(1) svg{
  color: #0570e6;
}
.login-icons a:nth-child(2) svg{
  color: #0a66c2;
}
.login-icons a:nth-child(3) svg{
  color: #5da9dd;
}
.login-icons a:nth-child(4) svg{
  color: #ff0000;
}


@media (max-width: 1000px) {
  .login > div{
    width: 95%;
  }
}

@media (max-width: 800px) {
  .login{
    height: unset;
    min-height: 92.5vh;
  }
  .login > div{
    width: 95%;
    display: block;
  }
  .login-left{
    width: 100%;
    height: 200px;
    padding: 0.5rem;
  } 
  .login-image{
    width: 75px;
    height: 75px;
    margin-top: 1rem !important;
  }
  .login-left > div > div.has-text-centered{
    margin-top: 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-left h5{
    font-size: 2rem;
  }
  .login-left h6 {
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  .login-right{
    width: 100% !important;
    padding: 0rem 0rem 1.25rem 0rem !important;
  }
  .login-right svg{
    width: 75px !important;
  }
}

@media (max-width: 500px) {
  .login-left h5{
    display: none;
  }
  .login-left h6 {
    padding: 0;
  }
  .login-right input{
    font-size: 1rem !important;
  }
  .login-right button{
    font-size: 1rem !important;
  }
}

.login-right{
  background-color: var(--colorD);
  width: 60%;
  height: 100%; 
  padding: 1.25rem;
  border-radius: 0rem 0rem 3rem 0rem;
}

.login-right form{
  height: 100%;
  width: 70%;
  margin: auto;
  overflow: hidden;
  display: grid;
}

.login-right svg{
  width: 8vw;
  height: auto;
  color: var(--colorA);
}

.login-right input{
  font-size: 1.5rem;
  background-color: var(--colorA);
}

.login-right input::placeholder{
  color: var(--colorE);
}

.login-right button{
  font-family: var(--title);
  text-transform: uppercase;
  line-height: normal;
  font-size: 1.25rem;
  border: 0.15rem solid; 
}

.login-right .btn-login{
  background-color: var(--colorB);
  color: white;
}

.login-right .btn-login:hover,
.login-right .btn-login:focus{
  color: var(--colorE);
  border-color: var(--colorE);
}

.login-right .btn-register:nth-child(1){
  background-color: var(--colorE);
  color: var(--colorA);
}

.login-right .btn-register:nth-child(1):hover{
  color: whitesmoke;
  border-color: whitesmoke;
}