#Main{
  min-height: 90.4vh;
}

#Main > div > div.column.is-12 > p{
  font-family: var(--title);
}

#btn_add{
  z-index: 5;
}

#btn_add > div{
  position: fixed;
  bottom: 80px;
  right: 20px;
}

#btn_add button{
  font-size: 50px;
  border: var(--colorA) solid 0.25rem;
}

@media (max-width: 1050px) {
  #Main{
    max-width: calc(100% - 55px);
    margin-inline: 0.25rem;
  }
  #Main .card-content{
    padding: 0.85rem;
  }
}