#Main{
  min-height: 90.4vh;
}

#Main > div > div.column.is-12 > p{
  font-family: var(--title);
}

#btn_add{
  z-index: 5;
}

#btn_add > div{
  position: fixed;
  bottom: 80px;
  right: 20px;
}

#btn_add button{
  font-size: 45px;
  border: var(--colorA) solid 0.25rem;
}


@media (max-width: 1050px) {
  #Main{
    max-width: calc(100% - 55px);
    margin-inline: 0.25rem;
  }
  #Main .card-content{
    padding: 0.5rem;
  }
  #Main > div{
    margin-bottom: 5.5rem !important;
  }
  #btn_add button{
    font-size: 30px;
  }
  #btn_add > div{
    bottom: 55px;
    right: 10px;
  }
  #Main > div > div.column.is-12 > p {
    font-size: 2.25rem !important;
  }
}

@media (max-width: 600px) {
  #Main > div > div.column.is-12 > p {
    font-size: 1.5rem !important;
  }
}