.modalA{
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #19222fc9;
  height: 100%;
  width: 100%;
  z-index: 100;

  display: none;
}

.modalA-show{
  display: block;
}

.modalA-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation-duration: 0.5s;
  animation-name: changeY;
}

.modalA-quad{
  position: sticky;
  width: 80%;
  background-color: var(--colorA);
  border: 1px solid var(--colorE);
  border-radius: 0.5rem;
}

.modalA-header{
  background-color: var(--colorB);
  border: 1px solid var(--colorE);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  text-align: center;
  color: var(--colorE);
  padding: 0.5rem;
  font-size: 2rem;
  font-family: var(--title);
}

.modalA-close{
  position: absolute;
  top: 5px;
  right: 10px;
}

.modalA-close button{
  background-color: transparent;
  color: var(--colorE);
  border: 1px solid var(--colorB);
  padding: 0.25rem;
  font-size: 20px;
}

.modalA-close button:hover{
  background-color: var(--colorE);
  color: var(--colorA);
}

.modalA-body{
  padding: 1rem;
  font-family: sans-serif;
  color: whitesmoke;
  height: 75vh;
  overflow-y: auto;
}

.modalA-footer{
  background-color: var(--colorB);
  border: 1px solid var(--colorE);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  text-align: center;
  color: var(--colorE);
  padding: 0.25rem;
  font-size: 1.5rem;
}

.recipe-left{
  height: 74vh;
  overflow-y: auto;
}

.recipe-img{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipe-img > div{
  min-height: 50%;
  width: 100%;
  background-color: var(--colorB);
  display: flex;
  align-items: center;
}

.recipe-preview{
  position: relative;
  bottom: 125px;
}

.modalA label{
  font-family: var(--bodyA);
  /*text-transform: uppercase;*/
}

.modalA-footer button{
  font-family: var(--title);
  text-transform: uppercase;
  line-height: normal;
  border-radius: 1rem 0 1rem 0;
  overflow: hidden;
}

.modalA-footer button:nth-child(1){
  background-color: var(--colorR);
  color: whitesmoke;
}

.modalA-footer button:nth-child(2){
  background-color: var(--colorO);
  color: whitesmoke;
}

.modalA-footer button:nth-child(3){
  background-color: var(--colorG);
  color: whitesmoke;
}

@keyframes changeY {
  0%{
    transform-origin: 0 0;
    transform: translateY(-7.5%);
    opacity: 0.1;
  }
  100%{
    transform-origin: 0 0;
    transform: translateY(0%);
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .modalA-quad{
    width: 96%;
  }
  .recipe-preview{
    position: unset;
  }

  .recipe-img img{
    height: 125px;
    margin: auto;
  }
  .recipe-left{
    height: unset;
    overflow: unset;
  }
  
}