.modalA{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #19222fc9;
  height: 100%;
  width: 100%;
  z-index: 100;

  display: none;
}

.modalA-show{
  display: block;
}

.modalA-content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modalA-quad{
  position: sticky;
  width: 80%;
  background-color: var(--colorA);
  border: 1px solid var(--colorE);
  border-radius: 0.5rem;
}

.modalA-header{
  background-color: var(--colorB);
  border: 1px solid var(--colorE);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  text-align: center;
  color: var(--colorE);
  padding: 0.5rem;
  font-size: 1.5rem;
  font-family: cursive;
}

.modalA-close{
  position: absolute;
  top: 5px;
  right: 10px;
}

.modalA-close button{
  background-color: transparent;
  color: var(--colorE);
  border: 1px solid var(--colorB);
  padding: 0.25rem;
  font-size: 20px;
}

.modalA-close button:hover{
  background-color: var(--colorE);
  color: var(--colorA);
}

.modalA-body{
  padding: 1rem;
  font-family: sans-serif;
  color: whitesmoke;
  min-height: 400px;
  max-height: 500px;
  overflow-y: auto;
}

.modalA-footer{
  background-color: var(--colorB);
  border: 1px solid var(--colorE);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  text-align: center;
  color: var(--colorE);
  padding: 0.25rem;
  font-size: 1.5rem;
  font-family: cursive;

}

.recipe-left{
  height: 400px;
  overflow-y: auto;
}

.recipe-img{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}