
#OneCard .card{
  background-color: var(--colorA);
  color: whitesmoke;

  border-radius: 0rem 0rem 1rem 0rem;
  border-color: var(--colorD);
  border-style: solid;
  border-width: 0.25rem 0.25rem 0.25rem 0;

  height: 270px;
  opacity: 0.98;
}

#OneCard .card p:nth-child(1){
  height: 80px;
  overflow: hidden;
  font-family: var(--bodyA);
  text-transform: uppercase;
  padding-top: 0.25rem;
}

#OneCard .card p:nth-child(2){
  height: 35px;
  overflow: hidden;
}

#OneCard .card p:nth-child(3){
  height: 30px;
  overflow: hidden;
}

#OneCard .card p:nth-child(4){
  height: 30px;
  overflow: hidden;
}

#OneCard .card p:nth-child(5){
  overflow: hidden;
  align-items: center;
  height: 70px;
  display: grid;
}

#OneCard button{
  background-color: var(--colorD);
  color: white;
  font-family: var(--title);
  font-size: 18px;
  border-radius: 1rem 0 1rem 0;
}

#OneCard .card-left{
  background-color: var(--colorA);
  height: 100%;
  align-items: center;
  display: flex;
  
  border-radius: 1rem 0rem 0rem 0rem;
  border-color: var(--colorD);
  border-style: solid;
  border-width: 0.25rem 0 0.25rem 0.25rem;
}