#Recipe{
  min-height: 92.5vh;
}

#Recipe > div{
  /*height: 92.5vh;*/
  min-height: 100%;
  display: grid;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#Recipe .card{
  background-color: #374b62f0;
  color: #eee;
  min-height: 50vh;
  border-radius: 1rem 0 1rem 0;
  border: var(--colorE) solid 0.25rem;
}

#Recipe .card header{
  border-radius: 1rem 0 0 0;
  background-color: var(--colorA);
}

#Recipe textarea[name="title"]{
  font-size: 2.5rem;
  padding: 1rem;
}

#Recipe .card .footer2{
  border-top: 0;
  border-radius: 0 0 1rem 0;
  background-color: var(--colorA);
  justify-content: center;
  display: flex;
  
}

#Recipe .card button{
  text-transform: uppercase;
  font-family: var(--title);
  line-height: normal;
  border-radius: 0.5rem 0 0.5rem 0;
  width: 30%;
  overflow: hidden;
}

#Recipe .card button:nth-child(1){
  background-color: var(--colorR);
  color: white;
}

#Recipe .card button:nth-child(2){
  background-color: var(--colorO);
  color: dark;
}

#Recipe .card button:nth-child(3){
  background-color: var(--colorG);
  color: white;
}

#Recipe .date{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1050px) {
  #Recipe{
    max-width: calc(100% - 50px);
    margin-inline: 0rem;
  }
  #Recipe .card-content{
    padding: 0.25rem;
  }
  #Recipe img{
    height: 125px;
  }
}

@media (max-width: 650px) {
  #Recipe .card .footer2{
    display: block;
    text-align: center;
  }
  #Recipe .card button{
    width: 95%;
  }
  #Recipe .card header{
    border-top: 0.25rem solid var(--colorE);
    border-radius: 0.5rem 0 0 0;
  }
  #Recipe .card-header-title{
    font-size: 1.5rem !important;
    text-align: center;
  }
  #Recipe .column{
    padding: 0.5rem;
  }
  #Recipe textarea[name="title"]{
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  #Recipe .date label:nth-child(2){
    text-align: right;
  }
  #Recipe .is-size-5{
    font-size: 1.1rem !important;
  }
  #Recipe .textarea, #Recipe input{
    font-size: 0.9rem;
  }
}