#Register{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 92.5vh;
}

#Register > div{
  width: 50%;
  display: flex;
  background-color: var(--colorB);
  opacity: 0.98;
}

#Register form{
  height: 100%;
  width: 70%;
  margin: auto;
}

#Register h5{
  font-family: var(--title);
}

#Register input{
  font-size: 1.1rem;
  font-family: var(--bodyA);
  line-height: normal;
}

#Register input::placeholder{
  color: var(--colorE);
}

#Register label{
  font-family: system-ui;
  font-size: 1rem;
}

#Register button{
  margin: auto;
  width: 40%;
  background-color: var(--colorB);
  color: whitesmoke;
  font-family: var(--title);
  text-transform: uppercase;
}

#Register a > button{
  margin: auto;
  width: 40%;
  background-color: var(--colorA);
  color: whitesmoke;
}

@media (max-width: 1000px) {
  #Register > div{
    width: 80%;
  }
  #Register input{
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  #Register > div{
    width: 90%;
  }
  #Register h5{
    font-size: 1.5rem !important;
  }
}

@media (max-width: 500px) {
  #Register > div{
    width: 98%;
  }
  #Register form{
    width: 85%;
  }
}